/* Login.css */
body {
    background-color: #fafafa;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-box {
    width: 300px;
    padding: 40px;
    background: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 1px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.login-title {
    font-family: 'Billabong', 'cursive';
    font-size: 50px;
    color: #262626;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 10px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    background: #fafafa;
    font-size: 14px;
    outline: none;
}

.login-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background: #3897f0;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.login-button:hover {
    background: #287dc1;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.forgot-password {
    text-align: right;
    margin-top: 20px;
    margin-bottom: 15px;
}

.forgot-password a {
    color: #00376b;
    text-decoration: none;
    font-size: 12px;
}

.forgot-password a:hover {
    text-decoration: underline;
}