.container {
    width: 90%;
    margin: auto;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.profile {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(50, 50, 50, 0.1);
}

.profile p {
    margin: 15 0 15px;
}
